@import "../../../styles/variable.scss";

.toast-component {
    t-button button {
        margin: 1rem 2rem;
    }

    .success {
        button {
            background-color: $color-success;

            &:hover {
                background-color: $color-successhover;
            }
        }
    }

    .error {
        button {
            background-color: $color-error;

            &:hover {
                background-color: $color-errorhover;
            }
        }
    }

    .info {
        button {
            background-color: $color-informational;

            &:hover {
                background-color: $color-informationalhover;
            }
        }
    }

    .warning {
        button {
            background-color: $color-attention;

            &:hover {
                background-color: $color-attentionhover;
            }
        }
    }

    .toast-types,
    .active-toast {
        border-top : 1px solid $border-color-inside-doc;
        margin-top : rem(20);
        padding-top: rem(20);
    }

    .strong {
        font-weight: bold;
    }

    .active-toast {
        div.strong:nth-child(odd) {
            background: #e5dddd;
        }

        div.strong {
            padding: rem(6);
        }
    }
}