<demo-wrapper header="Color Pallet">
  <div output class="color-pallet">
    <div class="row">
      <div class="color-code primary col-6 col-md-2 col-lg-1">
        <p> PRIMARY </p>
        <div class="palet"></div>
        <p> BLUE <br>#0069B1</p>
      </div>
      <div class="color-code primaryhover col-6 col-md-2 col-lg-1">
        <p> PRIMARY HOVER </p>
        <div class="palet"></div>
        <p> bluehover <br>#003F81</p>
      </div>
      <div class="color-code secondary col-6 col-md-2 col-lg-1">
        <p> SECONDARY </p>
        <div class="palet"></div>
        <p> GREEN <br>#757575</p>
      </div>
      <div class="color-code secondaryhover col-6 col-md-2 col-lg-1">
        <p> SECONDARY HOVER</p>
        <div class="palet"></div>
        <p> greenhover<br>#616161</p>
      </div>
      <div class="color-code informational col-6 col-md-2 col-lg-1">
        <p> INFORMATIONAL </p>
        <div class="palet"></div>
        <p> LIGHT <br>#00A8E4</p>
      </div>
      <div class="color-code informationalhover col-6 col-md-2 col-lg-1">
        <p> INFORMATIONAL HOVER</p>
        <div class="palet"></div>
        <p> lighthover <br>#0079B2</p>
      </div>
      <div class="color-code attention col-6 col-md-2 col-lg-1">
        <p> ATTENTION </p>
        <div class="palet"></div>
        <p> ORANGE <br>#FFA81E</p>
      </div>
      <div class="color-code attentionhover col-6 col-md-2 col-lg-1">
        <p> ATTENTION HOVER</p>
        <div class="palet"></div>
        <p> orangehover <br>#EE8000</p>
      </div>
      <div class="color-code error col-6 col-md-2 col-lg-1">
        <p> ERROR</p>
        <div class="palet"></div>
        <p> PINK <br>#D20F55</p>
      </div>
      <div class="color-code errorhover col-6 col-md-2 col-lg-1">
        <p> ERROR HOVER</p>
        <div class="palet"></div>
        <p> pinkhover <br>#9A002D</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="color-code disabled col-6 col-md-2 col-lg-1">
        <p> DISABLED</p>
        <div class="palet"></div>
        <p> Disabled <br>#F2F2F2</p>
      </div>
      <div class="color-code light col-6 col-md-2 col-lg-1">
        <p> LIGHT</p>
        <div class="palet"></div>
        <p> Light <br>#DFDFDF</p>
      </div>
      <div class="color-code medium col-6 col-md-2 col-lg-1">
        <P> MEDIUM</P>
        <div class="palet"></div>
        <p> medium <br>#B2B2B2</p>
      </div>
      <div class="color-code dark col-6 col-md-2 col-lg-1">
        <p> DARK</p>
        <div class="palet"></div>
        <p> dark <br>#7D7D7D</p>
      </div>
      <div class="color-code textstyle col-6 col-md-2 col-lg-1">
        <p> TEXTSTYLE</p>
        <div class="palet"></div>
        <p> darker <br>#414141</p>
      </div>
      <div class="color-code background col-6 col-md-2 col-lg-1">
        <p> Background</p>
        <div class="palet"></div>
        <p> background <br>#F2F2F2</p>
      </div>
      <div class="color-code white col-6 col-md-2 col-lg-1">
        <p> WHITE</p>
        <div class="palet"></div>
        <p> white<br>#FFFFFF</p>
      </div>
      <div class="color-code black col-6 col-md-2 col-lg-1">
        <p> BLACK</p>
        <div class="palet"></div>
        <p> Black<br>#000000</p>
      </div>
    </div>
  </div>
</demo-wrapper>