<div class="badge-component">
  <demo-wrapper header="Badge" [code]="compSyntax" [options]="options">
    <div output>
      <div>
        <t-badge badge="fa-home"></t-badge>
      </div>
      <div>
        <t-badge badge="fa-font-awesome"></t-badge>
      </div>
    </div>
    <div doc>
      Badge passed to the component is class name from font-awesome library. Please refer
      the <a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">link</a> to get
      icons.
    </div>
  </demo-wrapper>
</div>