<div class="developer row">
  <div class="col-sm-12 col-md-8 content-center">
    <div class="card cyan darken-3 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Tushar Nimje</span>
        <p>Software engineer with hands on experience in JavaScript and worked on
          various JavaScript technologies such as Angular, React and Nodejs. Experience
          of working in an Agile and Fast-paced product development enviroment. Excellent
          written and verbal communication skills. Conscientious,
          results-driven and analytical software engineer with years of professional
          exposure in software development. Strong in architectural research, software
          design and agile team.</p>
      </div>
      <div class="card-action">
        <a href="https://nimjetushar.github.io/">Profile</a>
      </div>
    </div>
  </div>
</div>
