<div class="tooltip-component">
  <demo-wrapper header="Tooltip" [code]="compSyntax" [options]="options">
    <div output>
      <div class="inline-block" style="margin: 0 40px 10px 0;">
        <t-dropdown placeholder="Select Tooltip position" [options]="tooltipOption" [(ngModel)]="tooltipPosition">
        </t-dropdown>
      </div>
      <div class="inline-block" tTooltip="Content to be shown in the tooltip" [tooltipDisabled]="false"
        [tooltipAnimation]="true" [tooltipPlacement]="tooltipPosition">Element on which tooltip is added
      </div>
    </div>
    <div doc>
      Note: For performance the component inputs are optimised so don't provide
      parameter
      which are not required for proper functioning.
    </div>
  </demo-wrapper>
</div>