<div class="tooltip-component">
  <demo-wrapper header="Tooltip" [code]="compSyntax" [options]="options">
    <div output>
      <span tooltip="content to be shown in the tooltip" [tooltipDisabled]="false"
        [tooltipAnimation]="true" tooltipPlacement="bottom">Element on which tooltip is added
    </span>
    </div>
    <div doc>
      Note: For performance the component inputs are optimised so don't provide
      parameter
      which are not required for proper functioning.
    </div>
  </demo-wrapper>
</div>