@import "@fourjs/ng-library/styles/variable.scss";

$code-spacing: rem(35);
$header-color: #ee6e73;

.code-wrapper {
    display: block;
    width: 100%;
    min-height: rem(30);
    padding: rem(25);
    margin: 1.5rem 0;
    background-color: #f5f7fa;
    color: #152935;
    border: 1px solid #dfe3e6;
    font-size: rem(18);
}

demo-wrapper {
    .component-header {
        color: $header-color;
        font-weight: 300;
        font-size: rem(45);
        line-height: 110%;
        margin: rem(20) 0 rem(10) 0;
    }

    h6.header {
        color: $header-color;
    }

    .seperator {
        margin: rem(10) 0;
    }

    .code-sample {
        @extend .code-wrapper;
        position: relative;
        width: 100%;
        word-break: break-word;

        .copy {
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid #dfe3e6;
            border-top: 0;
            border-right: 0;
            padding: 0 rem(10);
            font-size: rem(15);
            color: #a7a1a1;
            cursor: pointer;
        }

        code {
            white-space: pre-line;
        }
    }

    .code-output {
        @extend .code-wrapper;
    }

    .code-doc {
        @extend .code-wrapper;
        border-left: 3px solid #f11722;
        word-break: break-word;
    }

    .code-options {
        @extend .code-wrapper;

        .header {
            font-size: rem(22);
            margin-bottom: rem(10);
        }

        .table {
            overflow-x: auto;

            table .desc td {
                word-break: break-word;
            }
        }

        .method-option {
            ul {
                margin: 0;
            }
        }
    }

    .component-content>div {
        width: 100%;
    }
}