<div class="setup-page">
  <div class="setup">
    <demo-wrapper header="Setup">
      <div doc>
        <ul class="caption browser-default">
          <li>Download or clone the repo from
            <a
              href="https://github.com/nimjetushar/ui-lib.git">https://github.com/nimjetushar/ui-lib.git</a>
          </li>
          <li>Follow the process mentioned in README.md</li>
          <li>Create the build for the UI library and import the package into required
            project</li>
        </ul>
      </div>
    </demo-wrapper>
  </div>
</div>