<div class="checkbox-component">
  <demo-wrapper header="Checkbox" [code]="compSyntax" [options]="options">
    <div output>
      <t-checkbox label="Checkbox" name="checkbox" [(model)]="modelValue"></t-checkbox>
      <div *ngIf="modelValue !== undefined" class="output">
        <span>Output: {{modelValue}}</span>
      </div>
      <div></div>
      <t-checkbox label="disabled checkbox" name="checkbox" disabled="true"></t-checkbox>
    </div>
    <div doc>
      <app-common-note></app-common-note>
    </div>
  </demo-wrapper>
</div>