<div class="home-container">
    <div class="top-section">
        <div class="content">
            <div class="text1">The Custom Component Library</div>
            <div class="text2">for Angular</div>
        </div>
        <button class="get-started" routerLink="/gettingStarted/setup">Get Started</button>
    </div>
    <div class="body-content">
        <h5>Why NgLibrary</h5>
        <p>NgLibrary is a collection of UI components for Angular. All Components are open source and free to use under
            MIT License.
        </p>
    </div>
</div>